body {
    background-color: grey;
}
h1 {
    text-align: center;
    color: blue;
    font-family: VT323;
}
#Arena {
    text-align: center;
}
#GameArea {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2; 
    /* got z-index from stackoverflow, but I do understand it */
}
#ghosts {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}
#pointZone {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
#background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
}
#start {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
}
#Points {
    font-family: VT323;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, +420%);
    z-index: 5;
}