body {
    background-color: grey;
}
h1 {
    text-align: center;
    color: blue;
}
#Arena {
    text-align: center;
}
#GameArea {
    background-color: black;
}
#pacman {
    width: 20px;
}
#ghost1 {
    width: 20px;
}
#ghost2 {
    width: 20px;
}
#ghost3 {
    width: 20px;
}
#ghost4 {
    width: 20px;
}