body {
    background-color: grey;
}
h1 {
    text-align: center;
    color: blue;
}
#Arena {
    text-align: center;
}
#GameArea {
    position: absolute;
    left: 50%;
    z-index: 1; 
    /* got z-index from stackoverflow, but I do understand it */
}
#ghosts {
    position: absolute;
    z-index: 2;
}
#background {
    position: absolute;
    z-index: 0;
}
